<div id="layoutSidenav_nav" style="height: 100%;">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" routerLink="/table">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Tabella Utenti
                </a>

                <a class="nav-link" routerLink="/file-loader">
                    <div class="sb-nav-link-icon"><i class="fas fa-upload"></i></div>
                    CSV File Upload
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            David Azzato
        </div>
    </nav>
</div>